[submodule "NS3-OST"]
	path = NS3-OST
	url = git@github.com:danANDla/NS3-OST.git
[submodule "ELVEES-OST"]
	path = ELVEES-OST
	url = git@github.com:danANDla/ELVEES-OST.git
[submodule "GENERAL-OST"]
	path = GENERAL-OST
	url = git@github.com:danANDla/GENERAL-OST.git
